<ng-container *ngIf="property$ | async as property">
  <div class="container-fluid mat-elevation-z5">
    <div class="container">
      <div class="row header">
        <div class="col-md-8">
          <h1 class="title">{{property.title}}</h1>
          <div class="container">
            <div class="row">
              <mat-icon>location_on</mat-icon>
              <h4>{{ property.address }}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-right price">
          <div class="container mb-3">
            <div class="row justify-content-end">
              <div class="chip rent" *ngIf="property.type === 'Rent'">Jepet me qera</div>
              <div class="chip sale" *ngIf="property.type === 'Sale'">Shitet</div>
            </div>
          </div>
          <div *ngIf="property.price;else text">{{property.price | number}} €</div>
          <ng-template #text>Me marrëveshje</ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-4">
    <div class="row">
      <div class="col-md-8 mb-2">
        <div class="mat-elevation-z1 stage-container">
          <owl-carousel-o [options]="customOptions" #owl (initialized)="getData($event)">

            <ng-template *ngFor="let slide of property.imagePath" carouselSlide [id]="slide">
              <div class="img-container">

              <img  [src]="slide" [alt]="property.title" [title]="property.title" class="main-img">
            </div>

            </ng-template>

          </owl-carousel-o>
        </div>
        <img *ngFor="let img of property.imagePath" class="nav-img" [src]="img" (click)="owl.to(img)">
        <mat-card>
          <mat-card-content>
            <mat-card-title class="my-2">
              Përshkrimi
            </mat-card-title>
            <div class="my-2"> {{ property.description}}</div>
            <mat-divider></mat-divider>
            <mat-card-title class="mt-2 py-2">
              Informacion
            </mat-card-title>
            <div class="row">
              <app-info-element *ngIf="property.rooms" [label]="'Dhoma'" [icon]="faBed" [value]="property.rooms" class="col-md-6">
              </app-info-element>
              <app-info-element *ngIf="property.sip" [label]="'Sipërfaqja (m²)'" [icon]="faRulerCombined" [value]="property.sip"
                class="col-md-6"></app-info-element>
              <app-info-element *ngIf="property.floor" [label]="'Kati'" [icon]="faBuilding" [value]="property.floor" class="col-md-6">
              </app-info-element>
              <app-info-element *ngIf="property.toilets" [label]="'Tualete'" [value]="property.toilets"
                class="col-md-6"></app-info-element>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <app-right-side-info class="col-md-4"></app-right-side-info>
    </div>
  </div>
</ng-container>