:host{
    margin-top: 5.5rem;
    display: block;
}

.header{
    padding: 2rem 4rem;
    // box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 
    //             0px 10px 14px 1px rgba(0, 0, 0, 0.14), 
    //             0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}


::ng-deep .owl-item{
    background-color: white;
}

// ::ng-deep .owl-theme {
//     box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
//                 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
//                 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
// }

mat-card{
    height: fit-content;
}
.title{
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 1;
    color: #31394d;
}
.price{
    font-size: 1.9rem;
    line-height: 1;
    vertical-align: middle;
    justify-content: end;
    align-items: flex-end;
}
.chip{
    color: #fff;
    border-radius: 20px;
    font-size: 1rem;
    padding: .5rem 1rem;
    // width: fit-content;
    align-self: flex-end;
}

.rent{
    background-color: #309130;
}

.sale{
    background-color: #f44336;
}

.main-img {
   max-height: 450px;
   object-fit: cover;
}


.nav-img {
   width: calc(100% / 8);
   height: 100px;
   object-fit: cover;
}

::ng-deep .owl-carousel .owl-item .main-img{
    width: 100%;
}