<ng-container *ngIf="property$ | async as property">
  <div class="container-fluid mat-elevation-z5">
    <div class="container">
      <div class="row header">
        <div class="col-md-8">
          <h1 class="title">{{property.title}}</h1>
          <div class="container">
            <div class="row">
              <mat-icon>location_on</mat-icon>
              <h4>{{ property.address }}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-right price">
          <div class="container mb-3">
            <div class="row justify-content-end">
              <div class="chip rent" *ngIf="property.type === 'Rent'">Jepet me qera</div>
              <div class="chip sale" *ngIf="property.type === 'Sale'">Shitet</div>
            </div>
          </div>
          <div>{{property.price}} €</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-4">
    <div class="row">
      <mat-card class="col-md-8">
        <img mat-card-image [src]="property.imagePath[0]" [alt]="property.title">
        <mat-card-content>
          <mat-card-title class="my-2">
            Pershkrimi
          </mat-card-title>
          <div class="my-2"> {{ property.description}}</div>
          <mat-divider></mat-divider>
          <mat-card-title class="mt-2 py-2">
            Informacion
          </mat-card-title>
        <div class="row">
          <app-info-element class="col-md-6"></app-info-element>
          <app-info-element class="col-md-6"></app-info-element>
          <app-info-element class="col-md-6"></app-info-element>
          <app-info-element class="col-md-6"></app-info-element>
          <app-info-element class="col-md-6"></app-info-element>
          <app-info-element class="col-md-6"></app-info-element>
        </div>
        </mat-card-content>
      </mat-card>
      <app-right-side-info class="col-md-4"></app-right-side-info>
    </div>
  </div>
</ng-container>