<mat-card style="position: relative;" class="mat-elevation-z0 ">
  <div class="bg-image"></div>

  <mat-card-content
    class="d-flex flex-column col-6 justify-content-center absolute-center"
  >
    <img
      src="../../../../assets/logo/aja_logo.png"
      alt="logo"
      class="logo animated slideInDown slow"
    />
    <mat-form-field color="accent" appearance="outline" class="animated fadeInUp">
      <input matInput  placeholder="Search" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-card-content>
</mat-card>
