<!-- <div class="container"> -->
<div class="row">
  <div class="col-md-4 p-3">
    <mat-card class="card">
      <!-- <mat-card-title>Titulli</mat-card-title> -->
      <img mat-card-image src="../../../assets/wallpaper/wallpaper.webp" alt="">
      <mat-card-title class="my-2">2 + 1 me qera</mat-card-title>
      <mat-card-subtitle class="d-flex align-items-center my-3">
        <mat-icon>location_on</mat-icon> &nbsp;
        <span class="align-middle">RR. "Medar Shtylla", Komuna e Parisit, Tirane</span>
      </mat-card-subtitle>
      <mat-card-content style="margin-bottom: 0;">
        <mat-chip-list>
          <mat-chip color="warn" selected>Qera</mat-chip>
        </mat-chip-list>
        <mat-card-content class="py-1 price-description">
          <div class="row d-flex p-3">
            <div class="price d-flex justify-content-start align-items-center align-middle">
              <mat-icon>euro</mat-icon>
              <span>250</span>
            </div>
            <div class=" col-md-4 align-self-end">/ muaj</div>
          </div>

        </mat-card-content>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="row justify-content-around description p-3">
          <div class="d-flex flex-column">Sip.<span class="mt-2">100 m<sup>2</sup></span></div>
          <div  class="d-flex flex-column">Dhoma <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Tualet <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Kati <span class="mt-2">4</span></div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4 p-3">
    <mat-card class="card">
      <!-- <mat-card-title>Titulli</mat-card-title> -->
      <img mat-card-image src="../../../assets/wallpaper/wallpaper.webp" alt="">
      <mat-card-title class="my-2">2 + 1 me qera</mat-card-title>
      <mat-card-subtitle class="d-flex align-items-center my-3">
        <mat-icon>location_on</mat-icon> &nbsp;
        <span class="align-middle">RR. "Medar Shtylla", Komuna e Parisit, Tirane</span>
      </mat-card-subtitle>
      <mat-card-content style="margin-bottom: 0;">
        <mat-chip-list>
          <mat-chip color="warn" selected>Qera</mat-chip>
        </mat-chip-list>
        <mat-card-content class="py-1 price-description">
          <div class="row d-flex p-3">
            <div class="price d-flex justify-content-start align-items-center align-middle">
              <mat-icon>euro</mat-icon>
              <span>250</span>
            </div>
            <div class=" col-md-4 align-self-end">/ muaj</div>
          </div>

        </mat-card-content>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="row justify-content-around description p-3">
          <div class="d-flex flex-column">Sip.<span class="mt-2">100 m<sup>2</sup></span></div>
          <div  class="d-flex flex-column">Dhoma <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Tualet <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Kati <span class="mt-2">4</span></div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4 p-3">
    <mat-card class="card">
      <!-- <mat-card-title>Titulli</mat-card-title> -->
      <img mat-card-image src="../../../assets/wallpaper/wallpaper.webp" alt="">
      <mat-card-title class="my-2">2 + 1 me qera</mat-card-title>
      <mat-card-subtitle class="d-flex align-items-center my-3">
        <mat-icon>location_on</mat-icon> &nbsp;
        <span class="align-middle">RR. "Medar Shtylla", Komuna e Parisit, Tirane</span>
      </mat-card-subtitle>
      <mat-card-content style="margin-bottom: 0;">
        <mat-chip-list>
          <mat-chip color="warn" selected>Qera</mat-chip>
        </mat-chip-list>
        <mat-card-content class="py-1 price-description">
          <div class="row d-flex p-3">
            <div class="price d-flex justify-content-start align-items-center align-middle">
              <mat-icon>euro</mat-icon>
              <span>250</span>
            </div>
            <div class=" col-md-4 align-self-end">/ muaj</div>
          </div>

        </mat-card-content>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="row justify-content-around description p-3">
          <div class="d-flex flex-column">Sip.<span class="mt-2">100 m<sup>2</sup></span></div>
          <div  class="d-flex flex-column">Dhoma <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Tualet <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Kati <span class="mt-2">4</span></div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4 p-3">
    <mat-card class="card">
      <!-- <mat-card-title>Titulli</mat-card-title> -->
      <img mat-card-image src="../../../assets/wallpaper/wallpaper.webp" alt="">
      <mat-card-title class="my-2">2 + 1 me qera</mat-card-title>
      <mat-card-subtitle class="d-flex align-items-center my-3">
        <mat-icon>location_on</mat-icon> &nbsp;
        <span class="align-middle">RR. "Medar Shtylla", Komuna e Parisit, Tirane</span>
      </mat-card-subtitle>
      <mat-card-content style="margin-bottom: 0;">
        <mat-chip-list>
          <mat-chip color="warn" selected>Qera</mat-chip>
        </mat-chip-list>
        <mat-card-content class="py-1 price-description">
          <div class="row d-flex p-3">
            <div class="price d-flex justify-content-start align-items-center align-middle">
              <mat-icon>euro</mat-icon>
              <span>250</span>
            </div>
            <div class=" col-md-4 align-self-end">/ muaj</div>
          </div>

        </mat-card-content>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="row justify-content-around description p-3">
          <div class="d-flex flex-column">Sip.<span class="mt-2">100 m<sup>2</sup></span></div>
          <div  class="d-flex flex-column">Dhoma <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Tualet <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Kati <span class="mt-2">4</span></div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4 p-3">
    <mat-card class="card">
      <!-- <mat-card-title>Titulli</mat-card-title> -->
      <img mat-card-image src="../../../assets/wallpaper/wallpaper.webp" alt="">
      <mat-card-title class="my-2">2 + 1 me qera</mat-card-title>
      <mat-card-subtitle class="d-flex align-items-center my-3">
        <mat-icon>location_on</mat-icon> &nbsp;
        <span class="align-middle">RR. "Medar Shtylla", Komuna e Parisit, Tirane</span>
      </mat-card-subtitle>
      <mat-card-content style="margin-bottom: 0;">
        <mat-chip-list>
          <mat-chip color="warn" selected>Qera</mat-chip>
        </mat-chip-list>
        <mat-card-content class="py-1 price-description">
          <div class="row d-flex p-3">
            <div class="price d-flex justify-content-start align-items-center align-middle">
              <mat-icon>euro</mat-icon>
              <span>250</span>
            </div>
            <div class=" col-md-4 align-self-end">/ muaj</div>
          </div>

        </mat-card-content>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="row justify-content-around description p-3">
          <div class="d-flex flex-column">Sip.<span class="mt-2">100 m<sup>2</sup></span></div>
          <div  class="d-flex flex-column">Dhoma <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Tualet <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Kati <span class="mt-2">4</span></div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4 p-3">
    <mat-card class="card">
      <!-- <mat-card-title>Titulli</mat-card-title> -->
      <img mat-card-image src="../../../assets/wallpaper/wallpaper.webp" alt="">
      <mat-card-title class="my-2">2 + 1 me qera</mat-card-title>
      <mat-card-subtitle class="d-flex align-items-center my-3">
        <mat-icon>location_on</mat-icon> &nbsp;
        <span class="align-middle">RR. "Medar Shtylla", Komuna e Parisit, Tirane</span>
      </mat-card-subtitle>
      <mat-card-content style="margin-bottom: 0;">
        <mat-chip-list>
          <mat-chip color="warn" selected>Qera</mat-chip>
        </mat-chip-list>
        <mat-card-content class="py-1 price-description">
          <div class="row d-flex p-3">
            <div class="price d-flex justify-content-start align-items-center align-middle">
              <mat-icon>euro</mat-icon>
              <span>250</span>
            </div>
            <div class=" col-md-4 align-self-end">/ muaj</div>
          </div>

        </mat-card-content>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="row justify-content-around description p-3">
          <div class="d-flex flex-column">Sip.<span class="mt-2">100 m<sup>2</sup></span></div>
          <div  class="d-flex flex-column">Dhoma <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Tualet <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Kati <span class="mt-2">4</span></div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4 p-3">
    <mat-card class="card">
      <!-- <mat-card-title>Titulli</mat-card-title> -->
      <img mat-card-image src="../../../assets/wallpaper/wallpaper.webp" alt="">
      <mat-card-title class="my-2">2 + 1 me qera</mat-card-title>
      <mat-card-subtitle class="d-flex align-items-center my-3">
        <mat-icon>location_on</mat-icon> &nbsp;
        <span class="align-middle">RR. "Medar Shtylla", Komuna e Parisit, Tirane</span>
      </mat-card-subtitle>
      <mat-card-content style="margin-bottom: 0;">
        <mat-chip-list>
          <mat-chip color="warn" selected>Qera</mat-chip>
        </mat-chip-list>
        <mat-card-content class="py-1 price-description">
          <div class="row d-flex p-3">
            <div class="price d-flex justify-content-start align-items-center align-middle">
              <mat-icon>euro</mat-icon>
              <span>250</span>
            </div>
            <div class=" col-md-4 align-self-end">/ muaj</div>
          </div>

        </mat-card-content>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="row justify-content-around description p-3">
          <div class="d-flex flex-column">Sip.<span class="mt-2">100 m<sup>2</sup></span></div>
          <div  class="d-flex flex-column">Dhoma <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Tualet <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Kati <span class="mt-2">4</span></div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4 p-3">
    <mat-card class="card">
      <!-- <mat-card-title>Titulli</mat-card-title> -->
      <img mat-card-image src="../../../assets/wallpaper/wallpaper.webp" alt="">
      <mat-card-title class="my-2">2 + 1 me qera</mat-card-title>
      <mat-card-subtitle class="d-flex align-items-center my-3">
        <mat-icon>location_on</mat-icon> &nbsp;
        <span class="align-middle">RR. "Medar Shtylla", Komuna e Parisit, Tirane</span>
      </mat-card-subtitle>
      <mat-card-content style="margin-bottom: 0;">
        <mat-chip-list>
          <mat-chip color="warn" selected>Qera</mat-chip>
        </mat-chip-list>
        <mat-card-content class="py-1 price-description">
          <div class="row d-flex p-3">
            <div class="price d-flex justify-content-start align-items-center align-middle">
              <mat-icon>euro</mat-icon>
              <span>250</span>
            </div>
            <div class=" col-md-4 align-self-end">/ muaj</div>
          </div>

        </mat-card-content>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="row justify-content-around description p-3">
          <div class="d-flex flex-column">Sip.<span class="mt-2">100 m<sup>2</sup></span></div>
          <div  class="d-flex flex-column">Dhoma <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Tualet <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Kati <span class="mt-2">4</span></div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4 p-3">
    <mat-card class="card">
      <!-- <mat-card-title>Titulli</mat-card-title> -->
      <img mat-card-image src="../../../assets/wallpaper/wallpaper.webp" alt="">
      <mat-card-title class="my-2">2 + 1 me qera</mat-card-title>
      <mat-card-subtitle class="d-flex align-items-center my-3">
        <mat-icon>location_on</mat-icon> &nbsp;
        <span class="align-middle">RR. "Medar Shtylla", Komuna e Parisit, Tirane</span>
      </mat-card-subtitle>
      <mat-card-content style="margin-bottom: 0;">
        <mat-chip-list>
          <mat-chip color="warn" selected>Qera</mat-chip>
        </mat-chip-list>
        <mat-card-content class="py-1 price-description">
          <div class="row d-flex p-3">
            <div class="price d-flex justify-content-start align-items-center align-middle">
              <mat-icon>euro</mat-icon>
              <span>250</span>
            </div>
            <div class=" col-md-4 align-self-end">/ muaj</div>
          </div>

        </mat-card-content>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="row justify-content-around description p-3">
          <div class="d-flex flex-column">Sip.<span class="mt-2">100 m<sup>2</sup></span></div>
          <div  class="d-flex flex-column">Dhoma <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Tualet <span class="mt-2">2</span></div>
          <div  class="d-flex flex-column">Kati <span class="mt-2">4</span></div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

</div>
<mat-paginator [length]="9"
               [pageSize]="5"
                [pageSizeOptions]="[5,10,15,20]"
                [showFirstLastButtons]="true"></mat-paginator>
<!-- </div> -->