@import "~@angular/material/theming";
// @import "../../..//color_palettes.scss";

:host {
  display: block;
  margin-top: 7rem;
  // margin: 7rem;
  // width: 50%;
}

// .row {
//   padding: 1rem;
// }



// @mixin app-card-theme($theme) {
//     $primary: map-get($map: $theme, $key: primary);
//     $accent: map-get($map: $theme, $key: accent);

//     app-real-estate{
//         .price{
//             color: mat-color($accent, 800);
//             span{
//                 font-weight: 500;
//                 letter-spacing: .1rem;
//             }
//         }
//     }

// }


.mat-paginator{
  background-color: transparent;
}