<div class="container">
  <div class="row  justify-content-center">
    <h1 class="title animated fadeInDown">Kontakt</h1>
  </div>
    <mat-card class="row">
    <div class="col-md-3 contact">
      <fa-icon class="col-12" [icon]="faEnvelope" size="xs"></fa-icon>
      <div class="col-12 mb-2">
        <label>E-mail:</label>
        <div>ajafirstchoice@gmail.com</div>
      </div>
      <div class="col-12 mb-2">
        <label>Telefon:</label>
        <div>+355 69 22 58 711</div>
      </div>
      <div class="col-12 mb-2">
        <label>Adresa:</label>
        <div>Blv. Gjergj Fishta</div>
      </div>
    </div>

    <form [formGroup]="form" class="col-md-9 d-flex flex-column m-auto animated fadeIn" (submit)="onSendMail()">
      <div class="row">
      <mat-form-field class="col-md-6" color="primary" appearance="fill">
        <mat-label>Emri</mat-label>
        <input matInput type="text" formControlName="name" required>
      <mat-error *ngIf="form.get('name').invalid">Vendosni emrin.</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-6" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" required>
      <mat-error *ngIf="form.get('email').invalid">Vendosni emailin.</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-md-6" appearance="fill">
        <mat-label>Tel</mat-label>
        <input matInput type="tel" formControlName="phone" required>
      <mat-error *ngIf="form.get('phone').invalid">Vendosni numrin e telefonit.</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-6" appearance="fill">
        <mat-label>Shërbimi</mat-label>
        <mat-select formControlName="service">
          <mat-option [value]="'Imobiliare'">Imobiliare</mat-option>
          <mat-option [value]="'Shërbime të tjera'">Shërbime të tjera</mat-option>
        </mat-select>
      <mat-error *ngIf="form.get('service').invalid">Zgjodhni një shërbim.</mat-error>
      </mat-form-field>
    </div>
      <mat-form-field appearance="fill">
        <mat-label>Mesazhi</mat-label>
        <textarea matInput rows="7" formControlName="message"></textarea>
      <mat-error *ngIf="form.get('message').invalid && form.get('message')">Vendosni mesazhin.</mat-error>
      </mat-form-field>
      <button mat-raised-button class="col-md-4 align-self-end" color="primary" type="submit">Dërgo</button>
    </form>
    </mat-card>
</div>