
.title {
    font-size: 4rem;
    color: yellowgreen;
    font-weight: 900;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
  
  p {
    font-size: 1rem;
    width: 70%;
  }

  form{
    width: 50%;
  }

  .container{
    margin: 150px auto;
  }

  button{
    height: 3.5rem;
  }