:host{
  display: flex;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.title {
    font-size: 3rem;
    color: yellowgreen;
    letter-spacing: .2rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  p {
    font-size: 1rem;
    width: 70%;
  }

  form,
  .contact{
    padding: 3%;
  }

  .contact{
    background-color: #31394d;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    fa-icon{
      font-size: 15rem;
    }
  }

  .mat-card{
    display: flex;
    padding: 0;
    border-radius: 10px;
  }
  // .container{
  //   margin: 150px auto;
  // }

  // button{
  //   height: 3.5rem;
  // }

  @media only screen and (max-width: 768px){
    :host{
      margin-top: 4rem;
    }

    .title{
      font-size: 2.2rem;
    }
    .contact {
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0px;
      fa-icon {
        font-size: 8rem;
      }
    }
    mat-card{
      margin-left: 5px;
      margin-right: 5px;
    }
  }