:host{
    display: block;
    width: 100%;
    height: 100%;
}
.contact-area {
    background-image: url('../../../../assets/wallpaper/contact-card-compressed.jpg');
    position: relative;
    width: 100%;
    height: 250px;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    z-index: 0;
    // margin-left: 15px;

    &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #31394d;
        opacity: .88;
        border-radius: inherit;
    }
    h1, h5,  p {
        color: #fff;
        z-index: 1;
        position: absolute;
        left: 5%;
        letter-spacing: .1rem;
    }
    h1{
        font-size: 2rem;
        font-weight: 600;
        top: 20%;
    }

    h5{
        top: 45%;
        font-size: 1.5rem;
    }
    p{
      font-size: 1.2rem;
      top: 60%;
    }
    button {
        position: absolute;
        padding: .3rem 3rem;
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: .1rem;
        z-index: 1;
        right: 5%;
        top: 40%;
    }
}

.blog{
    width: 100%;
    height: 250px;
    &:hover{
        cursor: pointer;
    }
    img{
        height: calc(100% - 40px);
    }
}


@media only screen and (max-width: 450px){

    .contact-area {
        width: 100%;
        height: 320px;
        margin: 0 auto;
        h1{
            font-size: 1.5rem;
            top: 15%;
        }
        h5{
            font-size: 1.1rem;
            top: 40%;
        }
        p{
            font-size: 1rem;
            top: 55%;
        }
        button{
            left: 5%;
            right: 5%;
            top: 80%;
            margin: 0 auto;
            font-size: 1rem;
            width: 90%;
            padding: initial;
            // padding: 0.1rem 4rem;
        }
    }

    .blog{
        height: auto;
        img{
            height: initial;
        }
    }
} 