<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
        <div class="contact-area mat-elevation-z2">
            <h1 class="col-xs-12">Keni një pronë ose kërkoni një?</h1>
            <h5 class="col-xs-12">A-JA First choice është zgjedhja juaj e parë.</h5>
            <p class="col-xs-12">Na kontaktoni për më shumë informacion.</p>
            <button mat-raised-button 
                    [routerLink]="['/contact']"
                   color="accent">Kontakt
                </button>
        </div>
    </div>
        <div class="col-md-3" *ngIf="latestBlog$ | async as blog">
          <mat-card>
              <img mat-card-image [src]="blog.imagePath">
              <h1>{{ blog.title }}</h1>
          </mat-card>
        </div>
    </div>
</div>
