  <app-main-search></app-main-search>
  <app-what-we-do></app-what-we-do>
  <app-carousel-home [properties]="recentProperties$ | async"></app-carousel-home>
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="title">Our Services</h2>
    </div>
    <div class="row justify-content-center">
      <app-service-card [icon]="faHome" [title]="'Imobiliare'" [routerLink]="['/real-estate']" routerLinkActive="router-link-active" ></app-service-card>
      <app-service-card [icon]="faHandHoldingUsd" [title]="'Vlerësim pasurish'"></app-service-card>
      <app-service-card [icon]="faMapMarkedAlt" [title]="'Projektime dhe punime topografike'"></app-service-card>
      <app-service-card [icon]="faEnvira" [title]="'Konsulencë mjedisore'"></app-service-card>
      <app-service-card [icon]="faAt" [title]="'E-Apliki'"></app-service-card>
      <app-service-card [icon]="faLock" [title]="'Sisteme të menaxhimit të sigurisë'"></app-service-card>
      <app-service-card [icon]="faHandsHelping" [title]="'Ndërmjetësim'"></app-service-card>
    </div>
  </div>
