mat-card {
  background-color: whitesmoke;
  color: black;
  height: 800px;
  padding-top: 88px;
}

.main-search {
  background-color: whitesmoke;
  color: black;
  height: 800px;
  padding-top: 88px;
}


.title {
  font-size: 3rem;
  color: yellowgreen;
  font-weight: 900;
  margin: 5rem auto;
  line-height: 1;
  white-space: nowrap;
  // margin-top: 5rem;
  // margin-bottom: 3rem;
}

.filters {
  position: absolute;
  right: 0;
  top: 30%;
  background-color: green;
}

.filter-sidenav {
  min-width: 350px;
  max-height: 500px;
  background-color: whitesmoke;
  border: 1px soldid black;
}

.mat-drawer:not(.mat-drawer-side) {
  position: fixed;
}

.mat-drawer-backdrop {
  position: fixed !important;
}

app-service-card{
  margin: .5rem;
}

@media only screen and (max-width: 450px) {
  .title {
    font-size: 2rem;
    margin: 2.5rem auto;
  }
}