<div class="container service-padding">
    <div class="row">
        <div class="col-md-6">
            <h1>Shërbime Gjeodezike dhe Inxhinierie</h1>
            <h4>Nëpërmjet eksperizës së kualifikuar dhe të licencuar, ne ju ofrojmë shërbime topo-gjeodezike në përputhje me praktikat më të mira, eksperiencë shumë vjeçare dhe profesionalizëm, në shërbimet e mëposhtme:</h4>
            <ul>
                <li>Rilevime topografike tokësore dhe ajrore</li>
                <li>Matje gjeodezike në terren</li>
                <li>Hartimin e planeve të rilevimit</li>
                <li>Krijimin e ortofotove, të gjendje në terren</li>
                <li>Modelimet 3D të të gjitha llojeve të terreneve</li>
                <li>Modelime dhe analiza të ndryshme profesionale përmes sistemit të GIS</li>
                <li>Punimi i hartave të ndryshme përmes sistemit GIS.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/services/gis.png" alt="gis" class="mat-elevation-z10">
        </div>
    </div>
</div>