:host {
  display: block;
  margin: 18rem auto;
}

mat-card {
 padding: 3rem;

}
mat-form-field {
  width: 100%;
  margin: .8rem 0.5rem;
}

button {
  float: right;
//   width: 10rem;
padding: .5rem 5rem;
//   height: 3rem;

}
mat-spinner {
  margin: auto;
}
