li {
  list-style: none;
  a:hover {
    color: greenyellow;
  }
}
// ::ng-deep.mat-menu-panel {
//   max-width: none !important;
// }
// .mat-menu-item:hover {
//   color: greenyellow !important;
// }
// .router-link-active{
//   color: greenyellow;
// }