:host {
  width: 100%;
}

mat-icon{
  font-size: 1.2rem;
}

a {
  color: white;
  font-size: .8rem;
  line-height: 1;
}
a:hover {
  color: greenyellow;
}
// ::ng-deep .mat-button-focus-overlay {
//   background: none !important;
// }
