

<form [formGroup]="form" class="col-md-12">
  <div class="row justify-content-center mb-1">
  <div class="search-container mat-elevation-z7 col-md-10">
    <mat-form-field  appearance="standard" class="search-input animated fadeInUp">
      <input matInput formControlName="search"   placeholder="Kërko prona..." />
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="onSubmit()"  class="search-button mat-elevation-z7 col-md-2" color="accent">
    <mat-icon>search</mat-icon>
  </button>
</div>
<div class="row justify-content-center mb-1">
  <button mat-raised-button (click)="acc.toggle()" color="primary" class="col-sm-5 col-md-3">Filtra të avancuar</button>
  <div class="col"></div>
</div>
<div class="row justify-content-center">
  <mat-accordion  class="col">
    <mat-expansion-panel #acc hideToggle>
      <div class="row">
      <mat-form-field class="col-md-3">
        <input matInput type="text" formControlName="city" placeholder="Qyteti"  [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="col-md-3">
        <mat-label>Tipi</mat-label>
        <mat-select formControlName="property_type">
          <mat-option [value]="'Land'">Tokë</mat-option>
          <mat-option [value]="'Residential'">Rezidencial</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-3">
        <mat-label>Qera / Shitje</mat-label>
        <mat-select formControlName="type">
          <mat-option [value]="'Rent'">Qera</mat-option>
          <mat-option [value]="'Sale'">Shitje</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('type').invalid">Zgjidhni një nga opsionet</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-3">
        <mat-label>Tipologjia</mat-label>
        <mat-select formControlName="typology">
          <mat-option [value]="'1+1'">1 + 1</mat-option>
          <mat-option [value]="'2+1'">2 + 1</mat-option>
          <mat-option [value]="'3+1'">3 + 1</mat-option>
          <mat-option [value]="'4+1'">4 + 1</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-3">
        <input matInput type="number" formControlName="minSip" placeholder="Sip. Min">
        <span matSuffix>m2</span>
      </mat-form-field>
      <mat-form-field class="col-md-3">
        <input matInput type="number" formControlName="maxSip" placeholder="Sip. Max">
        <span matSuffix>m2</span>
      </mat-form-field>
      <mat-form-field class="col-md-3">
        <input matInput type="number" formControlName="minPrice" placeholder="Cmimi Min">
        <span matSuffix>&euro;</span>
      </mat-form-field>
      <mat-form-field class="col-md-3">
        <input matInput type="number" formControlName="maxPrice" placeholder="Cmimi Max">
        <span matSuffix>&euro;</span>
      </mat-form-field>
    </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</form>
