<div class="container">
  <div class="row  justify-content-center">
    <h1 class="title">Kontakt</h1>
  </div>
  <div class="row">
    <form [formGroup]="form" class="d-flex flex-column m-auto" (submit)="onSendMail()">
      <mat-form-field color="primary" appearance="fill">
        <mat-label>Emri</mat-label>
        <input matInput type="text" formControlName="name">
      <mat-error *ngIf="form.get('name').invalid">Please enter name.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email">
      <mat-error *ngIf="form.get('email').invalid">Please enter email.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Sherbimi</mat-label>
        <mat-select formControlName="service">
          <mat-option [value]="'Imobiljare'">Imobiljare</mat-option>
          <mat-option [value]="'Sherbime te tjera'">Sherbime te tjera</mat-option>
        </mat-select>
      <mat-error *ngIf="form.get('service').invalid">Please select service.</mat-error>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Adresa</mat-label>
        <input matInput type="text">
      </mat-form-field> -->
      <mat-form-field appearance="fill">
        <mat-label>Tel</mat-label>
        <input matInput type="tel" formControlName="phone">
      <mat-error *ngIf="form.get('phone').invalid">Please enter phone.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mesazhi</mat-label>
        <textarea matInput rows="7" formControlName="message"></textarea>
      <mat-error *ngIf="form.get('message').invalid && form.get('message')">Please enter message.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Dergo</button>
    </form>
  </div>
</div>