<div class="container service-padding">
    <div class="row">
        <div class="col-md-6">
            <h1>Konsulencë Mjedisore</h1>
            <h4>A-JA Engineering, Consulting & Real Estate ofron shërbime mjedisore të liçencuara si:</h4>
            <ul>
                <li>Vlerësimi i Ndikimit Mjedisor dhe Social</li>
                <li>Ndjekja e Procedurave Ligjore për Leje Mjedisore</li>
                <li>Monitorim Mjedisor</li>
                <li>Përpilimi i akteve të ekspertizës gjyqësore për padi civile në proces gjykimi.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/services/leaf.jpg" alt="leaf" class="mat-elevation-z10">
        </div>
    </div>
</div>