:host {
    display: flex;
    margin: 8rem auto;
    justify-content: center;
  }

  mat-card{
      width: 80%;
      padding: 3rem 3rem 0 3rem;
  }

  mat-form-field,
  textarea {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  mat-spinner {
    margin: auto;
  }
  
  input[type="file"] {
    visibility: hidden;
  }
  
  .image-preview {
    height: 5rem;
    margin: 1rem 0;
  }
  
  .image-preview img {
    height: 100%;
  }

mat-card-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        padding: .4rem 2rem;
    }
}