<div class="container">
  <div class="row justify-content-center">
<mat-card>
  <ng-container *ngIf="mode === 'create';else updateTitle">
    <mat-card-title>Krijo pronë</mat-card-title>
  </ng-container>
  <ng-template #updateTitle>
    <mat-card-title>Ndrysho pronën</mat-card-title>
  </ng-template>
  <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
  <form [formGroup]="form" (submit)="onSavePost()">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Titulli" required>
      <mat-error *ngIf="form.get('title').invalid">Vendosni një titull</mat-error>
    </mat-form-field>
<div class="row">
  <mat-form-field class="col-md-6">
    <input matInput type="text" formControlName="city" placeholder="Qyteti"  [matAutocomplete]="auto" required>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.get('city').invalid">Zgjidhni qytetin</mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-6">
    <mat-label>Tipi</mat-label>
    <mat-select formControlName="property_type" required>
      <mat-option [value]="'Land'">Tokë</mat-option>
      <mat-option [value]="'Residential'">Rezidencial</mat-option>
    </mat-select>
  <mat-error *ngIf="form.get('property_type').invalid">Zgjidhni tipin e pronës</mat-error>
  </mat-form-field>
</div>
    <mat-form-field>
      <input matInput type="text" formControlName="address" placeholder="Adresa" required>
      <mat-error *ngIf="form.get('address').invalid">Vendosni adresën</mat-error>
    </mat-form-field>
    <div class="row align-items-center">
      <mat-checkbox class="col-md-2" 
                    (change)="onChangeExclusive($event)"
                    formControlName="exclusive" 
                    labelPosition="before">Eksluzive</mat-checkbox>
      <mat-form-field class="col-md-2" *ngIf="isExclusive()">
        <mat-label>Pozicioni</mat-label>
        <mat-select formControlName="position">
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="3">3</mat-option>
          <mat-option [value]="4">4</mat-option>
        </mat-select>
      <mat-error *ngIf="form.get('position').invalid">Zgjidhni pozicionin</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-2">
        <mat-label>Qera / Shitje</mat-label>
        <mat-select formControlName="type">
          <mat-option [value]="'Rent'">Qera</mat-option>
          <mat-option [value]="'Sale'">Shitje</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('type').invalid">Zgjidhni një nga opsionet</mat-error>
      </mat-form-field>
      <mat-checkbox class="col-md-2" *ngIf="!isTypeRent()" formControlName="sold" labelPosition="before">Shitur</mat-checkbox>
      <mat-checkbox class="col-md-3" *ngIf="isTypeRent()" formControlName="rented" labelPosition="before">Dhënë me qera</mat-checkbox>
      <mat-checkbox class="col-md-2" formControlName="prenoted" labelPosition="before">Prenotuar</mat-checkbox>
    </div>
    <div class="row">
    <mat-form-field class="col-md-6" *ngIf="isResidetial()">
      <mat-label>Tipologjia</mat-label>
      <mat-select formControlName="typology">
        <mat-option [value]="'1+1'">1 + 1</mat-option>
        <mat-option [value]="'2+1'">2 + 1</mat-option>
        <mat-option [value]="'3+1'">3 + 1</mat-option>
        <mat-option [value]="'4+1'">4 + 1</mat-option>
      </mat-select>
    <mat-error *ngIf="form.get('typology').invalid">Zgjidhni tipologjinë</mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <input matInput type=" number" formControlName="price" placeholder="Cmimi">
      <span matSuffix>&euro;</span>
      <mat-error *ngIf="form.get('price').invalid">Vendosni çmimin</mat-error>
    </mat-form-field>
  </div>
    <div class="row">
    <mat-form-field class="col-md-2">
      <input matInput type="number" formControlName="sip" placeholder="Sip">
      <span matSuffix>m2</span>
      <mat-error *ngIf="form.get('sip').invalid">Vendosni sipërfaqen</mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-2" *ngIf="isResidetial()">
      <input matInput type="number" formControlName="rooms" placeholder="Dhoma">
      <mat-error *ngIf="form.get('rooms').invalid">Vendosni nr e dhomave</mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-2" *ngIf="isResidetial()">
      <input matInput type="number" formControlName="toilets" placeholder="Tualete">
      <mat-error *ngIf="form.get('toilets').invalid">Vendosni nr e tualeteve</mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-2" *ngIf="isResidetial()">
      <input matInput type="number" formControlName="floor" placeholder="Kati">
      <mat-error *ngIf="form.get('floor').invalid">Vendosni katin</mat-error>
    </mat-form-field>
    </div>
     <ng-container *ngIf="(isInProgress$ | async) && progress$ | async as progress">
      <mat-progress-bar class="mb-1"  [value]="progress"></mat-progress-bar>
      <div class="text-center"> {{progress }} %</div>
    </ng-container>
    <div style="margin-bottom: 1rem;" *ngIf="(isReady$ | async) || (hasFailed$ | async)">
      <button mat-stroked-button type="button" (click)="filePicker.click()">Zgjidh fotot</button>
      <input type="file" multiple #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== [] && imagePreview">
      <img *ngFor='let url of imagePreview'  [src]="url" height="150" width="200px" style="margin: 3px;" [alt]="form.value.title">
    </div>
    <!-- <mat-error *ngIf="form.get('imagePath').invalid">Please enter a valid format image.</mat-error> -->
    <mat-form-field>
      <textarea matInput rows="7" formControlName="description" placeholder="Përshkrimi" required></textarea>
      <mat-error *ngIf="form.get('description').invalid">Vendosni një përshkrim</mat-error>
    </mat-form-field>
    <mat-card-actions>
    <button mat-raised-button color="accent" type="submit" [disabled]="(isLoading$ | async) || this.form.invalid">
      <fa-icon [icon]="faSpinner" spin='true' *ngIf="isLoading$ | async"></fa-icon>
      <ng-container *ngIf="mode === 'create';else update">
      Shto pronën
      </ng-container>
      <ng-template #update>
        Update pronën
      </ng-template>
    </button>
  </mat-card-actions>
  </form>
</mat-card>
</div>
</div>
