mat-card {
  background-color: whitesmoke;
  color: black;
  height: 800px;
  padding-top: 88px;
}

.main-search {
  background-color: whitesmoke;
  color: black;
  height: 800px;
  padding-top: 88px;
}

.filters {
  position: absolute;
  right: 0;
  top: 30%;
  background-color: green;
}

.filter-sidenav {
  min-width: 350px;
  max-height: 500px;
  background-color: whitesmoke;
  border: 1px soldid black;
}

.mat-drawer:not(.mat-drawer-side) {
  position: fixed;
}

.mat-drawer-backdrop {
  position: fixed !important;
}
