<!-- <mat-sidenav-container class="main-search" autosize>
  <mat-sidenav position="end" opened mode="size">
    <app-filters> </app-filters>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-main-search></app-main-search>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<div>
  <!-- <mat-drawer
    #drawer
    class="filter-sidenav"
    scrollable="false"
    mode="side"
    position="end"
  >
    <app-filters> </app-filters>
  </mat-drawer> -->
  <app-main-search></app-main-search>
  <app-what-we-do></app-what-we-do>
  <!-- <button
    type="button"
    mat-raised-button
    class="filters mat-elevation-z7"
    (click)="drawer.toggle()"
  >
    <mat-icon>filter_list</mat-icon>
    Filtro
  </button> -->
</div>
