<div class="container service-padding">
    <div class="row">
<div class="col-md-6">
    <h1>Suport për aplikime pranë E-Albania</h1>
    <h4>Ne ju asistojmë për të kryer gjithë aplikimet që ju nevojiten pranë portalit qeveritar E-Albania në lidhje me:</h4>
    <ul>
        <li>Pasuritë e Paluajtshme</li>
        <li>Leje dhe liçenca të ndryshme</li>
        <li>Kontributet dhe Pensioni</li>
        <li>Qendrën Kombëtare të Biznesit</li>
        <li>Gjendjen Gjyqësore</li>
        <li>Zyrat e Gjendjes Civile</li>
        <li>Automjete dhe Transport</li>
        <li>Shëndetësinë</li>
        <li>Leje Pune & Leje Qëndrimi</li>
        <li>Shërbime Konsullore</li>
    </ul>
</div>
<div class="col-md-6">
    <img src="../../../assets/services/e-albania-dark.jpg" alt="e-albania" class="mat-elevation-z10">
    <!-- <img src="../../../assets/services/e-albania.png" alt="e-albania"> -->
</div>
    </div>
</div>
