<mat-nav-list>
    <a [routerLink]="[ '/']">
        <img fxFlexFill style="height: inherit;"
            src="../../../assets/Logo/Intertek-wester-balkans-first-logo-usage-gray-background.png">
    </a>
    <a mat-list-item [routerLink]="[ '/home']" (click)="onClose()">
        Home
    </a>
    <a mat-list-item [routerLink]="[ '/real-estate']" (click)="onClose()">
      Imobiliare
    </a>

    <a mat-list-item [matMenuTriggerFor]="menu" #matMenuTrigger="matMenuTrigger" routerLinkActive="router-link-active">
       Shërbimet
    </a>
    <mat-menu #menu="matMenu">
        <div>
            <a mat-menu-item 
               [routerLink]="['real-estate-appraisal']"
               routerLinkActive="router-link-active"
               (click)="onClose()"
                >Vlerësim i pasurive të paluajtshme</a>
            <a mat-menu-item 
               routerLinkActive="router-link-active"
               [routerLink]="['topographic-works']"
               (click)="onClose()"
            >Projektime dhe punime topografike</a>
            <a mat-menu-item 
               routerLinkActive="router-link-active"
               [routerLink]="['environmental-consultancy']" 
               (click)="onClose()">Konsulencë mjedisore</a>
            <a mat-menu-item 
               routerLinkActive="router-link-active" 
               [routerLink]="['e-apliki']" 
               (click)="onClose()">E-apliki me ekspertizë tekniko-ligjore</a>
            <!-- <a mat-menu-item [routerLink]="['services/certifications-petroleum']" (click)="onClose()">
            Sisteme të menaxhimit të sigurisë ushqimore dhe bujqësisë
            </a>
            <a mat-menu-item [routerLink]="['services/project-compliance-certificate']" (click)="onClose()">
            Ndërmjetësim
            </a> -->
        </div>
    </mat-menu>
    <a mat-list-item [routerLink]="[ '/contact']" (click)="onClose()">
        Kontakt
    </a>
</mat-nav-list>