<div class="container service-padding">
    <div class="row">
        <div class="col-md-6">
        <h1>Vlerësimi i Pasurive të Paluajtshme</h1>
        <h4>Shërbime të licencuara në fushën e vlerësimeve të paluajtshme, duke përfshirë:</h4>
        <ul>
            <li>Hartimi i raporteve të vlerësimit të tokës bujqësore, kullot, pyje, livadhe dhe tokë e pafrytshme</li>
            <li>Hartimi i raporteve të vlerësimit të tokës truall dhe të ndërtesave</li>
            <li>Ndjekja e procedurave për regjistrimin e raporteve të vlerësimit të pasurive të paluajtshme pranë Agjencisë Shtetërore të Kadastrës</li>
            <li>Hartimi i akteve të ekspertizës gjyqësore për përllogaritjen e dëmit mbi pasuritë e paluajtshme</li>
            <li>Hartimi i akteve të ekspertizës gjyqësore për përllogaritjen e fitimit të munguar</li>
        </ul>
    </div>
    <div class="col-md-6">
        <img src="../../../assets/services/real-estate-appraisal.jpg" alt="real-estate" class="mat-elevation-z10">
    </div>
    </div>
</div>