<ul class="d-flex justify-content-between m-0">
  <li>
    <a mat-button [routerLink]="['home']" routerLinkActive="router-link-active">
      Home
    </a>
  </li>
  <!-- <li>
    <a
      mat-button
      [routerLink]="'/aboutus'"
      routerLinkActive="router-link-active"
    >
      Rreth nesh
    </a>
  </li> -->
  <li>
    <a mat-button [routerLink]="['real-estate']" routerLinkActive="router-link-active">Imobiliare</a>
  </li>
  <li>
    <a
      mat-button
      [matMenuTriggerFor]="menu"
      disableRipple
      #matMenuTrigger="matMenuTrigger"
      (mouseenter)="matMenuTrigger.openMenu()"
      routerLinkActive="router-link-active"
    >
      Shërbime
    </a>
    <mat-menu #menu="matMenu" opened xPosition="before">
      <div id="menu-list" (mouseleave)="matMenuTrigger.closeMenu()">
        <!-- <a
          mat-menu-item
          [routerLink]="['real-estate']"
          routerLinkActive="link-active"
          >Imobiljare</a
        > -->
        <a
          mat-menu-item
          routerLinkActive="link-active"
          [routerLink]="['real-estate-appraisal']"
        >
          Vlerësim i pasurive të paluajtshme</a
        >
        <a
          mat-menu-item
          routerLinkActive="link-active"
          [routerLink]="['topographic-works']"
        >
          Projektime dhe punime topografike</a
        >
        <a
          mat-menu-item
          routerLinkActive="link-active"
          [routerLink]="['environmental-consultancy']"
        >
          Konsulencë mjedisore</a
        >
        <a
          mat-menu-item
          routerLinkActive="link-active"
          [routerLink]="['e-apliki']"
        >
          E-Apliki me ekspertizë tekniko-ligjore</a
        >
        <!-- <a
          mat-menu-item
          routerLinkActive="link-active"
          [routerLink]="['food-safety']"
        >
          Sisteme të menaxhimit të sigurisë ushqimore dhe bujqësisë
        </a>
        <a
          mat-menu-item
          routerLinkActive="link-active"
          [routerLink]="['intermediation']"
        >
          Ndërmjetësim
        </a> -->
      </div>
    </mat-menu>
  </li>
  <li>
    <a
      mat-button
      [routerLink]="['/contact']"
      routerLinkActive="router-link-active"
    >
      Kontakt
    </a>
  </li>
  <ng-container *ngIf="userIsAuth$ | async">
  <li>
    <a
      mat-button
      [routerLink]="['/dashboard']"
      routerLinkActive="router-link-active"
    >
      Dashboard
    </a>
  </li>
  <li>
    <a mat-button (click)="onLogout()">
     <mat-icon>power_settings_new</mat-icon>
    </a>
  </li>
</ng-container>
<!-- <ng-template #logout>
  <li>
    <a mat-button  (click)="onLogin()">
     <mat-icon fontSet="material-icons-outlined">lock</mat-icon>
    </a>
  </li>
</ng-template> -->
  <li></li>
</ul>
