

ul{
  height: 100%;
  li {
    list-style: none;
    a:hover {
      color: greenyellow;
    }
  }
}

#menu-list  > a{
  z-index: 1050;
}

// ::ng-deep.mat-menu-panel {
//   max-width: none !important;
// }
// .mat-menu-item:hover {
//   color: greenyellow !important;
// }
.router-link-active{
  color: greenyellow;
}