<mat-card class="card" (click)="navigateToDetails(property._id)">

  <div class="ribbon-top-right" 
    *ngIf="showRibbon()" 
    [ngClass]="{ 
      'ribbon--prenoted': property.prenoted,
      'ribbon--sold': property.sold || property.rented
  }">
    <span *ngIf="property.rented">Dhënë me qera</span>
    <span *ngIf="property.sold">Shitur</span>
    <span *ngIf="property.prenoted">Prenotuar</span>
  </div>
  <img mat-card-image [src]="url" [alt]="property.title">
  <mat-card-title class="mb-1 text-oneline">{{ property.title }}</mat-card-title>
  <mat-card-subtitle class="d-flex align-items-center my-1">
    <mat-icon>location_on</mat-icon> &nbsp;
    <span class="align-middle">{{ property.address }}</span>
  </mat-card-subtitle>
  <mat-card-content style="margin-bottom: 0;">
    <mat-chip-list>
      <mat-chip *ngIf="property.type === 'Sale'" color="warn" selected>Shitet</mat-chip>
      <mat-chip *ngIf="property.type === 'Rent'" color="accent" selected>Jepet me qera</mat-chip>
    </mat-chip-list>
    <mat-card-content class="price-description">
      <div class="row">
        <div class="price d-flex align-items-center align-middle">
          <ng-container *ngIf="property.price;else text">
          <mat-icon>euro</mat-icon>
          <span>{{ property.price | number }}</span>
          <div *ngIf="property.type === 'Rent'" class="rent align-self-end">/ muaj</div>
        </ng-container>
        <ng-template #text>Me marrëveshje</ng-template>
        </div>
      </div>
    </mat-card-content>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content style="margin-bottom: 0;">
    <div class="row justify-content-around  description mt-3">
      <div class="d-flex flex-column" *ngIf="property.sip">Sip.<span class="mt-2">{{ property.sip }} m<sup>2</sup></span></div>
      <div class="d-flex flex-column" *ngIf="property.rooms">Dhoma <span class="mt-2">{{ property.rooms }}</span></div>
      <div class="d-flex flex-column" *ngIf="property.toilets">Tualete <span class="mt-2">{{ property.toilets }}</span></div>
      <div class="d-flex flex-column" *ngIf="property.floor">Kati <span class="mt-2">{{ property.floor }}</span></div>
    </div>

  </mat-card-content>
</mat-card>
<div class="d-flex justify-content-center m-1" *ngIf="isAuth$ | async">
<button mat-raised-button color="warn" class="m-1" (click)="deleteProperty(property._id)">Fshij</button>
<button mat-flat-button color="primary" class="m-1" (click)="gotToUpdate()">Update</button>
</div>