@import '~@angular/material/theming';
@import './color_palettes.scss';
@import './app/modules/real-estate/real-estate.component.scss';

$aja-typography: mat-typography-config(
  $font-family: 'Montserrat'
);
@include mat-core($aja-typography);

$aja-app-primary: mat-palette($aja-blue);
$aja-app-accent: mat-palette($aja-green, 900, 50, 100);
$aja-app-theme: mat-light-theme($aja-app-primary, $aja-app-accent);
@include angular-material-theme($aja-app-theme);
@include app-card-theme($aja-app-theme);