/* For use in src/lib/core/theming/_palette.scss */
$aja-green: (
    50 : #ebf6eb,
    100 : #ceeace,
    200 : #aedcae,
    300 : #8dcd8d,
    400 : #74c374,
    500 : #5cb85c,
    600 : #54b154,
    700 : #4aa84a,
    800 : #41a041,
    900 : #309130,
    A100 : #d9ffd9,
    A200 : #a6ffa6,
    A400 : #73ff73,
    A700 : #59ff59,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$aja-blue: (
    50 : #e6e7ea,
    100 : #c1c4ca,
    200 : #989ca6,
    300 : #6f7482,
    400 : #505768,
    500 : #31394d,
    600 : #2c3346,
    700 : #252c3d,
    800 : #1f2434,
    900 : #131725,
    A100 : #6888ff,
    A200 : #3560ff,
    A400 : #0238ff,
    A700 : #0032e7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
