<div class="container-fluid">
  <div class="row footer">
        <section class="col-md-8 col-sm-12">
          <div class="container">
          <div class="row">
          <ul class="col-md-2 menus">
            <li>
              <a [routerLink]="'/home'" routerLinkActive="router-link-active">
                Home
              </a>
            </li>
            <li>
              <a [routerLink]="'/aboutus'" routerLinkActive="router-link-active">
                Rreth nesh
              </a>
            </li>
            <li>
              <a [routerLink]="'/services'" routerLinkActive="router-link-active">
                Shërbime
              </a>
            </li>
            <li>
              <a  [routerLink]="['/contact']" routerLinkActive="router-link-active">
                Kontakt
              </a>
            </li>
          </ul>
          <ul class="col-md-5 services">
            <li>
              <a  [routerLink]="'/home'" routerLinkActive="router-link-active">
                Imobiliare
              </a>
            </li>
            <li>
              <a  [routerLink]="'/aboutus'" routerLinkActive="router-link-active">
                Vlerësim i pasurive të paluajtshme
              </a>
            </li>
            <li>
              <a  [routerLink]="'/services'" routerLinkActive="router-link-active">
                Projektime dhe punime topografike
              </a>
            </li>
            <li>
              <a  [routerLink]="['/contact']" routerLinkActive="router-link-active">
                Konsulencë mjedisore
              </a>
            </li>
            <li>
              <a  [routerLink]="['/contact']" routerLinkActive="router-link-active">
                E-Apliki me ekspertizë tekniko-ligjore
              </a>
            </li>
            <li>
              <a [routerLink]="['/contact']" routerLinkActive="router-link-active">
                Sisteme të menaxhimit të sigurisë ushqimore dhe bujqësisë
              </a>
            </li>
            <li>
              <a  [routerLink]="['/contact']" routerLinkActive="router-link-active">
                Ndërmjetësim
              </a>
            </li>
          </ul>
          <ul class="col-md-4 address">
            <li>
              <a [routerLink]="'/home'" routerLinkActive="router-link-active">
                Adresa: Blv. Gjergj Fishta
              </a>
            </li>
            <li>
              <a [routerLink]="'/aboutus'" routerLinkActive="router-link-active">
                E-mail: ajafirstchoice@gmail.com
              </a>
            </li>
            <li>
              <a disableRipple [routerLink]="'/services'" routerLinkActive="router-link-active">
                Tel: +355 69 22 58 711
              </a>
            </li>
          </ul>
        </div>
      </div>
        </section>
        <!-- <google-map class="col-md-4 col-sm-12" height="320px" width="100%" [center]="center" [zoom]="zoom" (mapClick)="addMarker($event)"
          (mapMousemove)="move($event)" (mapRightclick)="removeLastMarker()">
          <map-marker #marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
            [options]="markerOptions" (mapClick)="openInfoWindow(marker)"></map-marker>
          <map-info-window>Info Window content</map-info-window>
        </google-map> -->



<!-- verion 2 of maps--> 
<google-map class="col-md-4 col-sm-12" height="350px" width="100%" [zoom]="zoom" [center]="center"
[options]="options" >
  
  <map-marker #markerElem *ngFor="let marker of markers" 
  [position]="marker.position" [label]="marker.label"
  [title]="marker.title" [options]="marker.options" (mapClick)="openInfo(markerElem, marker.info)" >
  
  </map-marker>
  <map-info-window>{{ infoContent }}</map-info-window>
</google-map>      
  
<div class="container">
        <div class="row">
          <div class="col-12 socials">
            <span class="row justify-content-center align-items-center">Follow</span>
            <div class="row  justify-content-center align-items-center my-4">
              <svg width="0" height="0">
                <radialGradient id="rg" r="150%" cx="30%" cy="107%">
                  <stop stop-color="#fdf497" offset="0" />
                  <stop stop-color="#fdf497" offset="0.05" />
                  <stop stop-color="#fd5949" offset="0.45" />
                  <stop stop-color="#d6249f" offset="0.6" />
                  <stop stop-color="#285AEB" offset="0.9" />
                </radialGradient>
              </svg>
              <div class="social-icons">
              <fa-icon [icon]="faFacebookF"></fa-icon>
              <fa-icon [icon]="faTwitter"></fa-icon>
              <fa-icon [icon]="faInstagram"></fa-icon>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
<div class="d-flex py-3 justify-content-center">
  <span>&copy; {{ copyDate }} Dizenjuar Nga Ajafirstchoice</span>
</div>
</div>
