ul > li {
  list-style: none;
  a:hover {
    color: #40e440;
    cursor: pointer;
  }
}

::ng-deep .map-container {
  border-radius: 20px;
  box-shadow:  0px 4px 5px -2px rgba(0, 0, 0, 0.2), 
               0px 7px 10px 1px rgba(0, 0, 0, 0.14), 
               0px 2px 16px 1px rgba(0, 0, 0, 0.12)
}

.footer{
  padding: 5rem 2rem;
  background-color:  darken($color: #31394d, $amount: 4);
  color: whitesmoke;
}

.menus li  , 
.services li  , 
.address li  {
  line-height: 1.2rem;
  margin-bottom: .7rem;
}
a{
  color: #FFF;
}

fa-icon{
  font-size: 2rem;
  margin: 0 1rem;
  color: #40e440;
}

.socials{
  margin-top: 7rem;
}

@media only screen and (max-width: 450px) {
  .footer {
    padding: 2rem 0;
  }
}