<div class="container" style="margin-top: 88px;">
  <div class="row justify-content-center">
    <h1 class="title animated fadeInDown">Rreth Nesh</h1>
    <p class="text-justify animated fadeIn">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam maiores
      aperiam, praesentium blanditiis voluptates quae nobis eos qui perspiciatis
      deleniti eum delectus expedita illum nihil neque similique repellat, iste
      porro ratione eligendi, quo adipisci. Distinctio ipsa praesentium nemo
      accusantium, quam assumenda reprehenderit voluptas dolore eius reiciendis
      adipisci modi. Labore, eius ipsum? Enim facere omnis fugiat hic vero,
      dignissimos tenetur incidunt doloribus. Deleniti, minus alias atque, quis
      quasi cupiditate molestiae quisquam distinctio eos illo officia temporibus
      quibusdam, aperiam voluptatibus suscipit quaerat corporis a? At nostrum
      sint incidunt alias. Ipsum molestias animi pariatur culpa eligendi saepe
      perferendis omnis? Vel facere sed saepe provident esse excepturi labore
      ullam distinctio soluta vitae nulla accusamus molestiae beatae, sunt unde
      fugit error voluptates temporibus itaque dolor repudiandae ducimus ex
      maxime delectus. Nisi voluptatibus sit deleniti tempore mollitia, facere
      voluptas maiores, id ullam ducimus, harum beatae nulla distinctio officiis
      qui omnis adipisci! Rem, hic nisi modi inventore id quos dolorum odit
      nihil perspiciatis porro, itaque maxime magnam beatae aspernatur,
      assumenda reprehenderit? Atque cumque, obcaecati omnis dignissimos
      laboriosam mollitia perspiciatis officiis, eveniet culpa eum unde numquam
      iusto beatae modi fugiat deserunt minus alias quos saepe iste earum
      expedita cum, necessitatibus sed. Nihil dicta maxime perferendis. Aperiam,
      rerum alias.
    </p>
  </div>
</div>